node_modules/
dist/
*.tsbuildinfo
vite.config.js
vite.config.d.ts
.DS_Store
Thumbs.db
android/.gradle/
android/.idea/
android/local.properties
android/**/build/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
